<!DOCTYPE html>
<html>
<head>
    <title>Create Job</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h3>Create Job</h3>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Job Title</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Job Type</label>
            <select name="job_type" class="form-control">
                <option value="full-time">Full-Time</option>
                <option value="part-time">Part-Time</option>
            </select>
        </div>
        <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" required></textarea>
        </div>

        <div class="form-group">
            <label>Vacancy Count</label>
            <input type="number" name="vaccancy_count" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Deadline</label>
            <input type="date" name="deadline" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Salary</label>
            <input type="text" name="salary" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Experience</label>
            <select name="experiance" class="form-control">
                <option value="Fresher">Fresher</option>
                <option value="1-3 years">1-3 years</option>
                <option value="3-5 years">3-5 years</option>
                <option value="5+ years">5+ years</option>
            </select>
        </div>

        <div class="form-group">
            <label>Status</label>
            <select name="status" class="form-control">
                <option value="open">Publish (Open)</option>
                <option value="closed">Draft (Closed)</option>
            </select>
        </div>

        <button class="btn btn-primary">Create Job</button>
    </form>
</div>
</body>
</html>
